html, body {
    height: 100%;
    margin: 0
}

body {
    background-color: rgb(14, 14, 37);

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;

    height: calc(100vh - 100px);
    width: calc(100vw - 60px);

    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dice-grid-class {
    display: grid;
    gap: 60px 80px;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(2, 50px);
}

.dice-component-class {
    border: solid;
    color: rgb(167, 162, 162);
    border-width: 1px;
    box-shadow: 4px 3px 5px rgb(71, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-component-class:hover{
    cursor: pointer;
}

.dice-component-class:active {
    opacity: 0.65;
}

.dice-component-class > span {
    font-size: xx-large;
    font-weight: 700;
    color: rgb(97, 92, 92);
}

.reroll-dice-class{
    margin-top: 75px;
}

.reroll-dice-class > button {
    width: 150px;
    height: 35px;

    background-color: rgb(127, 133, 218);

    border: none;
    border-radius: 5px;
}

.reroll-dice-class > button:hover {
    opacity: 0.80;
}

.reroll-dice-class > button:active {
    opacity: 0.50;
}