.header {
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: solid;
    border-bottom-color: rgb(236, 229, 229);
    border-bottom-width: 0.5px;
}


.header-img {
    width: 45px;
    margin-right: 15px;
}


.header-text {
    font-size: x-large;
}

.ingredient-form {
    margin-top: 50px;

    display: flex;
    justify-content: center;
}


.input-text {
    height: 35px;
    width: 300px;

    margin-right: 15px;

    border-radius: 5px;

    border-width: 0.5px;
    border-color: rgb(219, 214, 214);

    padding-left: 5px;
    padding-right: 5px;
}


.input-submit {
    background-color: black;
    color: white;

    width: 200px;

    border-radius: 5px;

    border: none;
}


.main-data {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}


.ingredients-head {
    margin-top: 25px;

    font-size: 22px;
    font-weight: 700;
}


.ingredient-item {
    list-style: none;

    background-color: black;
    color: white;

    padding: 5px;

    font-size: 18px;

    margin-bottom: 10px;

    text-align: center;
}


.recipe-send-box {
    width: 50%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-top: 25px;

    background-color: rgb(230, 233, 221);

    padding: 15px;
}


.recipe-send-text {
    display: flex;
    flex-direction: column;
}


.recipe-send-text-header {
    font-weight: 700;
}


.recipe-send-text-content {
    color: grey;
    font-size: 13px;

    margin-top: 5px;
}


.submit-ingredients {
    width: 85px;
    height: 25px;

    white-space: nowrap;

    color: white;

    background-color: orangered;

    border: none;

    border-radius: 3px;
}


.submit-ingredients:hover {
    opacity: 0.85;
}


.submit-ingredients:active{
    opacity: .6;
}